footer {
    width: 100%;

    .footer-top {
        display: flex;
        gap: 20px;

        .cols {
            display: flex;
            flex-direction: column;
            padding: 30px;

            h2 {
                font-size: 15px;
                padding-left: 30px;
                a {
                    text-decoration: none;
                    color: black;
                }
            }

            ul {
                list-style-type: none;
                gap: 10px;
                font-size: 15px;

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }

    .social {
        display: flex;
        justify-content: space-between;
        padding: 50px;

        ul {
            list-style-type: none;
            gap: 20px;
            display: flex;

            .fa-facebook{
                color: black;
                &:hover{
                    color: rgb(30, 41, 201);
                }
            }

            .fa-youtube{
                color: black;
                &:hover{
                    color: rgb(197, 19, 19);
                }
            }
            .fa-instagram{
                color: black;
                &:hover{
                    color: rgb(194, 32, 102);
                }
            }
            .fa-linkedin-in{
                color: black;
                &:hover{
                    color: rgb(25, 114, 192);
                }
            }
        }

        .link-apps {
            display: flex;
            gap: 10px;
        }
    }

    .footer-bottom{
        display: flex;
        justify-content: flex-end;
        padding: 50px;
        border-top: 0.1px solid rgb(147, 147, 147);
        img{
            width: 28px;
            height: 28px;
        }
        .ftxt{
            display: flex;
            gap: 10px;
            a{
                text-decoration: none;
            }
        }
    }
}